body {
  background-image: url("forrest1.png");
  background-size: cover;
  color: white;
}

.battle_screen{

  display: none;
}
.status{
  display:flex;
  padding: 7px;
  border: 7px double blue;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 115px;
  height: 190px;
  background-color: goldenrod;

}
p1{
  color: white;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  font-size: 12px;
}
p2{
  color: darkblue;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.health{
  display: flex;
  flex-direction: row;

}
.attack{
  display: flex;
  flex-direction: row;


}
.magic{
  display: flex;
  flex-direction: row;

}
.speed{
  display: flex;
  flex-direction: row;

}
.items{
  display: flex;
  flex-direction: row;

}
.exp{
  display: flex;
  flex-direction: row;

}
.expneeded{
  display: flex;
  flex-direction: row;

}

.buttons{
  display: flex;
  flex-direction: row;

}
#fight{
  height: 18px;
  width: 45px;
  color: white;
  background-color: red;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
#magic{
  height: 18px;
  width: 45px;
  color: white;
  background-color: blue;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
#escape{
  height: 18px;
  width: 45px;
  color: white;
  background-color: goldenrod;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
