html{
  height: 100%;
}
body {
  background-image: url("forrest1.png");
  background-size: cover;
  color: white;
  height: 100%;
}

.battle_screen{

  display: none;
}
.status{
  display:flex;
  padding: 8px;
  border: 7px double mediumblue;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 140px;
  height: 225px;
  background-color: goldenrod;
  border-style: groove;
  box-shadow: 0px 0px 2px 2px ghostwhite;
  border-radius: 14px 14px 14px 14px;

}
p1{
  color: ghostwhite ;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
p2{
  color: darkblue;
  font-weight:600;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.health{
  display: flex;
  flex-direction: row;

}
.attack{
  display: flex;
  flex-direction: row;

}

.magic{
  display: flex;
  flex-direction: row;

}
.speed{
  display: flex;
  flex-direction: row;

}
.items{
  display: flex;
  flex-direction: row;

}
.exp{
  display: flex;
  flex-direction: row;

}
.expneeded{
  display: flex;
  flex-direction: row;

}

.buttons{
display:inline;
}
#fight{
  height: 35px;
  width: 80px;
  color: white;
  background-color: red;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 15px;
}
#magic{
  height: 35px;
  width: 80px;
  color: white;
  background-color: blue;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 15px;
}
#escape{
  height: 35px;
  width: 80px;
  color: white;
  background-color: goldenrod;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 15px;
}

#check{
  position: absolute;
  right: 0px;
  top: 200px;
  width: 100px;
  height: 100px;
}
#door{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100px;
  width: 100px;

}
#logout{
  position: absolute;
  top:0;
  right:0;
  margin-top: 6px;
  margin-right: 6px;
  border: 5px double goldenrod;
  justify-content: center;
  flex-direction: column-reverse;
  width: 70px;
  height: 30px;
  background-color: mediumblue;
  border-style: groove;
  box-shadow: 0px 0px 2px 2px ghostwhite;
  border-radius: 4px 4px 4px 4px;
  color: gold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#potions{
  height: 22px;
  width: 55px;
  color: darkblue;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 13px;
}
p3{
  color:blue;
}
