body {
  background-image: url("forrest1.png");
  background-size: cover;

}

.battle_screen{

  display: none;

}

.status{
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1px;
  border: 10px double blue;
  margin: 1px;
  border-width:thick;
  width: 125px;
  height: 200px;
  background-color: goldenrod;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  padding:

}
.monkeys{
  position: fixed;
  top: -10px;
  left:-20px;
}
li{
  display: flex;

  list-style: none;
  font-size: 14px;
  color: darkblue;

}

.buttons{
  display: flex;
  flex-direction: row;
}
#fight{
  height: 18px;
  width: 45px;
  color: white;
  background-color: red;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
#magic{
  height: 18px;
  width: 45px;
  color: white;
  background-color: blue;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
#escape{
  height: 18px;
  width: 45px;
  color: white;
  background-color: goldenrod;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}

#door {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100px;
  width: 100px;
}
