body {
  background-image: url("forrest1.png");
  background-size: cover;

}

.battle_screen{
<<<<<<< HEAD
  display: none;

}

.status{
  display: none;
=======
display: none;
<<<<<<< HEAD

=======
>>>>>>> 7d5883cbd757cdac21186039f03a7817ab41add5

}
.buttons{
  display: flex;
  flex-direction: row;
>>>>>>> 0382a6bba40dfc8b46a03f0c686355cc78226b17
}
#fight{
  height: 18px;
  width: 45px;
  color: white;
  background-color: red;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
#magic{
  height: 18px;
  width: 45px;
  color: white;
  background-color: blue;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
#escape{
  height: 18px;
  width: 45px;
  color: white;
  background-color: goldenrod;
  border: 5px;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  font-family: "Futura", Impact, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 10px;
}
