h1 {
  font-size: 300%;
  margin: auto;
  text-align: center;
  color: darkblue;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

p {
  text-align: center;
}

input {
  border-color: blue;
  text-align: center;
  color: darkblue;
}

.box {
  display: flex;
  padding: 50px;
  border: 10px double blue;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: goldenrod;
}

input[type="text"], textarea {

  background-color : #CECECE;
height: 22px;
font-size: 20px;


}

div {
  align-content: center;
  display: inline;
  text-align: center;
  vertical-align: middle;
}
#button1{
  border-color: blue;
  box-shadow: 5px 5px 5px var(--box-shadow-color);
  --box-shadow-color: midnightblue;
  color: white;
  background-color: darkblue;
  height: 32px;
  width: 80px;
  font-size: 16px;
}
#button2{
  box-shadow: 5px 5px 5px var(--box-shadow-color);
  --box-shadow-color: midnightblue;
  height: auto;
  width: 250px;
  height: 35px;
  color: darkblue;
  font-weight: bold;
  font-size: 15px;
}
body{
  background-color: #D3D3D3;

}
#password{
   -webkit-text-security: disc;
}
