body {
  background-color: #D3D3D3;
  background-size: contain;
  color: blue;

}
input{
  border-color: blue;
  height: 23px ;
  font-size: 20px;
  color: darkblue;
}
.form{
  font-size: 200%;
  background-color: goldenrod;
  display: flex;
  padding: 20px;
  border: 7px double blue;
  border-width: 10px;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;

}
#normal {
  border-color: blue;
  box-shadow: 7px 7px 5px var(--box-shadow-color);
  --box-shadow-color: midnightblue;
  color: white;
  background-color: darkblue;
  height: auto;
  font-size: 30px;


}
h1{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: darkblue;
  font-size: 200%;
  font-weight: 1400;
  text-align:justify;
  text-align: left;


}
p1{
  font-weight: bold;
  color: darkblue;
}
input[type="text"], textarea {

  background-color : #CECECE;

}
#password{
  -webkit-text-security: disc;
}
