<!DOCTYPE html >
<html>
<head>
  <link type = "text/css" rel="stylesheet" href="../resources/game2.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type = "text/javascript" src="../resources/game2.js"></script>

  <title> Redhead Bedhead </title>
</head>
<body>
<a id = "Logout" href="/"> <input id="logout" type="button" value = "Logout"/></a>
<p id = "Victory"></p>
<form method="post" action="/save_data">
  <section class = "status"/>
    <div class= "monkeys">
      <div class= "level"> <p1> Level: &nbsp; </p1> <p2 id = "level"> {{user.level}}<input type="hidden" name="level" value="{{user.level}}"></input></p2></div>
      <div  class= "health"> <p1>Health:&nbsp;</p1> <p2 id = "health"> {{user.hp}} <input type="hidden" name="hp" value="{{user.hp}}"></input> </p2>
                  <p2>/</p2><p2 id = "maxHealth">{{user.max_hp}} <input type="hidden" name="maxHp" value="{{user.max_hp}}"></input></p2></div>
      <div class= "attack"> <p1>Attack:&nbsp;</p1><p2 id = "attack"> {{user.attack}} <input type="hidden" name="attack" value="{{user.attack}}"></input></p2></div>
      <div class= "magic"> <p1>Magic:&nbsp;</p1><p2 id = "magicA"> {{user.mp}} <input type="hidden" name="magicA" value="{{user.mp}}"></input> </p2></div>
      <div class= "speed"> <p1>Speed:&nbsp;</p1> <p2 id = "speed"> {{user.speed}} <input type="hidden" name="speed" value="{{user.speed}}"></input></p2></div>
      <div class= "items"> <p1>Items:&nbsp;</p1></div><div><p2  id = "item1"> {{user.item1}}<input type="hidden" name="item1" value="{{user.item1}}"></input></p2></div>
      <div class= "items"> <p2 id = "item2"> {{user.item2}}<input type="hidden" name="item2" value="{{user.item2}}"></input></p2></div>
      <div class= "items"> <p2 id = "item3"> {{user.item3}}<input type="hidden" name="item3" value="{{user.item3}}"></input></p2></div>
      <div class= "exp"> <p1>exp:&nbsp;</p1><p2 id = "exp"> {{user.experience}} <input type="hidden" name="experience" value="{{user.experience}}"></input></p2></div>
      <div class= "expneeded"> <p1>exp needed:&nbsp;</p1><p2 id = "expNeeded"> {{user.exp_needed}} <input type="hidden" name="expNeeded" value="{{user.exp_needed}}"></input></p2></div>
      <div class= "checkpoint"> <p1>Checkpoint:&nbsp;</p1><p2 id = "checkpoint">{{user.checkpoint}}<input type="hidden" name="checkpoint" value="{{user.checkpoint}}"></input></p2></div>

    </div>
  </section>
  <input id = "username" type = "hidden" name="username" value="{{user.username}}"></input>
  <input id = "password" type = "hidden" name = "password" value="{{user.password}}"></input>
</form>



  <img id = "character" src="../resources/walkdown1.png" />

  <section class = "battle_screen">
    <p id="enemyH">/<p>
    <img id = "enemy" src = "../resources/seemong.jpg"/>
    <div class= buttons>
    <input id="fight" type="button" value = "Fight"/> <br>
    <input id="magic" type="button" value = "Magic"/> <br>
  </div>
  </section>

  <audio id="nani2" controls>
    <source id="nani" src="../resources/nani.mp3" type="audio/mpeg">
   Your browser does not support the audio element.
   </audio>
   
   <audio id="naisu" controls>
      <source src = "../resources/naisuuuuu.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

</body>
</html>
