<!DOCTYPE html >
<html>
<head>
  <link type = "text/css" rel="stylesheet" href="../resources/game.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type = "text/javascript" src="../resources/game.js"></script>

  <title> (Insert Title Here) </title>
</head>
<body>
  <p>{{ user.level }}</p>
  <img id = "character" src="../resources/walkingright.gif" />
  <section class = "battle_screen">
    <input type="button" value = "Fight"/>
    <input type="button" value = "Magic"/>
    <input type="button" value = "Escape"/>
    <img id = "enemy" src = "../resources/bonesattack.gif"/>
  </section>
</body>
</html>
