<!DOCTYPE html>
<html>

  <head>
    <link type = "text/css" rel="stylesheet" href="../resources/home.css"/>
    <title>Text game home page</title>
  </head>

  <body>
    <section class= box>
      <h1>Welcome to Redhead Bedhead's Adventure</h1> <br>
  {% if invalid == True %}
  <p>incorrect username or password</p>
  {% endif %}
        <div id="first">
          <form method="get" action="/game">
            <input class="color" id="user" type="text" placeholder="Username" name="username"></input>
            <input class="color" id="password" type="text" placeholder="Password" name="password"></input>
            <input id="button1" type="submit" value="Login"></input> <br>
        </div>
        <div id="second">
          </form>
          <form method="post" action="/new_user">
          <br>  <input id="button2" type="submit" value="Create New Account"></input>
          </form>
        </div>
    </section>
  </body>

</html>
