<!DOCTYPE html>
<html>

  <head>
    <link type = "text/css" rel="stylesheet" href="../resources/home.css"/>
    <title>Text game home page</title>
  </head>

  <body>
    <section class= box>
      <h1>Welcome to (Insert Title)</h1>

        <div id="first">
          <form method="post" action="/">
            <input class="color" id="user" type="text" placeholder="username"></input>
            <input class="color" id="password" type="text" placeholder="password"></input>
            <input type="submit" value="login"></input>
        </div>
        <div id="second">
          </form>
          <form method="post" action="/new_user">
            <input type="submit" value="create new account"></input>
          </form>
        </div>
    </section>
  </body>

</html>
