<!DOCTYPE html >
<html>
<head>
  <link type = "text/css" rel="stylesheet" href = "../resources/newuser.css"/>
  <title> New User Login </title>
</head>
<body>
<section class = form >
<h1> New User Login </h1>

<div>

<form method = "post" action = "/game">
<p1>
 Username: <input type="text" name="user_name" placeholder="Username" /> </br> <br>
 Password: <input type = "text" name="password" placeholder="Password"/> </br> <br>
 Confirm Password: <input type = "text" name "confirm_password" placeholder="Password" /> </br> <br>
</p1>

  <input id= "normal" type = "submit" value="Create User" />

</form>
</div>
</section>
</body>

</html>
